$whiteColor: #fff;
$blackColor: #000;
$grayColor: rgb(255, 255, 255, 0.7);
$darkGrayCcolor: #464547;
$textGrayColor: #666;
$footerTextColor: rgb(255, 255, 255, 0.4);
$lightBlueColor: #55C2D8;
$colorRed: red;
$triangle: rgba(0, 0, 0, 0.8);
$sourceSansFont: 'Source Sans Pro', sans-serif;
$oswaldFont: 'Oswald', sans-serif;
